.row {
  margin-right: 0px !important; }

.hero {
  height: 63vh;
  padding-top: 20px; }

.carousel {
  border-radius: 30px; }

.carousel-item {
  height: 400px; }

.rounded-circle {
  margin-top: 80px;
  margin-left: 43%;
  width: 300px;
  height: 300px;
  overflow: hidden; }

.rounded-circle img {
  width: 300px; }

.apprenticeship {
  height: 70vh;
  background-color: darkslategray;
  color: white;
  padding-top: 20px; }

.more {
  padding-top: 20px;
  margin-left: 12%; }

.third {
  background-color: white;
  color: black;
  height: 500px;
  border-radius: 30px;
  margin: 10px 30px;
  padding-top: 10px; }

.otherInterests {
  padding-top: 40px; }

.btn {
  text-align: center;
  margin-left: 45%;
  background-color: #efefef;
  margin-bottom: 20px; }

.btn-gallery {
  margin: 20px 0; }

.other {
  padding-bottom: 20px; }

.finalScreen {
  margin-left: 7%;
  margin-bottom: 80px; }

.halfimg {
  width: 400px;
  margin-left: 23%;
  border-radius: 30px;
  margin-bottom: 20px; }

.half {
  height: 500px;
  margin: 10px 30px; }

.title {
  margin: 40px 0; }

.bg {
  background-color: darkslategray;
  color: white;
  padding: 20px 0; }

.grid {
  border-radius: 15px;
  background-color: white;
  color: white;
  padding: 60px 0; }

.gallery-grid {
  padding-left: 80px; }

.gallery-grid img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 15px; }

.grid-middle {
  padding-left: 80px; }

.grid-item {
  margin: 10px; }

.viking-img img {
  background-color: darkslategray; }

.viking-img img {
  width: 250px;
  border-radius: 15px; }

.viking-img :hover {
  opacity: 0.6; }

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  top: 0px;
  left: 0px; }

.modal-img {
  opacity: 0;
  position: absolute;
  margin-left: 50%;
  margin-top: 50%;
  left: 0px;
  top: 0px; }

.modal-img img {
  margin-left: -50%;
  margin-top: -50%;
  background-color: white;
  padding: 5px;
  width: 340px;
  /*just to give a viewable size */ }

.noscroll {
  overflow: hidden; }

